    	            
     {% include 'includes/topbar.html' %}
		
       {% include 'includes/sidebar.html' %}
		
    </header><!--//app-header-->
    
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			   
			
		{% block content %}
	
		
 <h1 class="app-page-title">Listing for {{ faculty.faculty_name}}</h1>
			    {% include 'includes/alerts.html' %}
			    <div class="app-card alert alert-dismissible shadow-sm
                 mb-4 border-left-decoration" role="alert">
				    <div class="inner">
					    <div class="app-card-body p-3 p-lg-4">
						    <h3 class="mb-3">Welcome, Dr. {{user.first_name}}  {{user.last_name}}!, you are a Faculty Admin</h3>
						    <div class="row gx-5 gy-3">
						        <div class="col-12 col-lg-9">
							        
							        <div></div>
							    </div><!--//col-->
							    <div class="col-12 col-lg-3">
							
							    </div><!--//col-->
						    </div><!--//row-->
					    </div><!--//app-card-body-->
					    
				    </div><!--//inner-->
			    </div><!--//app-card-->
				    
						
				<h4>All Submitted Abstract(s)</h4>
				<div class="app-card app-card-accordion shadow-sm mb-4">
					
				    <div class="app-card-header p-4 pb-2  border-0">
						
				    </div><!--//app-card-header-->
					
				    <div class="app-card-body p-4 pt-0">
						
						 
						
						  <div class="table-responsive">
								   
							        <table class="table mb-0 text-left">
										<thead>
											<tr>
												
												<th class="cell">Title</th>
												<th class="cell">Conference</th>
												<th class="cell">Date Submmited</th>
											<th class="cell">Score </th>

												<th class="cell">Status</th>
																				
												<th class="cell"></th>
											</tr>
										</thead>
										<tbody>
																	
									
								{% for article in articles %}		
											
											<tr>
												
												<td class="cell">{{ article.title  }}</td>
												<td class="cell">{{ article.conference}}</td>
												<td class="cell"> {{ article.submitted_at }}</td>
												<td class="cell"> 
													{% for report in article.reviewer_reports.all %}
														<p>{{ report.totalscore }}</p>
													{% endfor %}
												</td>
												<td class="cell">
													{% if article.status == 'Pending' %}
													<span class="badge bg-secondary">
													{{  article.status }}
													</span>
													{% elif article.status == 'Accepted as Podium'  %}
													<span class="badge bg-success">
													{{  article.status }}
													{% elif article.status == 'Accepted as Poster'  %}
													<span class="badge bg-success">
													{{  article.status }}
													</span>
													{% elif article.status == 'Accepted'  %}
													<span class="badge bg-success">
													{{  article.status }}
													{% else %}
													<span class="badge bg-danger">
													{{  article.status }}
													</span>
													{% endif %}

											</td>
											
				<td class="cell"><a class="btn app-btn-secondary"
					 href="{% url 'detailedpage' article.id %}">View</a></td>
											</tr>
			  
						{% empty %}
							<p>No article is submitted yet</p>
							{% endfor %}
						
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						
				    </div><!--//app-card-body-->
				</div><!--//app-card-->

<!-- All case reports --><br><br>
								<h4>All Submitted Case Report(s)</h4>
				<div class="app-card app-card-accordion shadow-sm mb-4">
					
				    <div class="app-card-header p-4 pb-2  border-0">
						
				    </div><!--//app-card-header-->
					
				    <div class="app-card-body p-4 pt-0">
						
						 
						
						  <div class="table-responsive">
								   
							        <table class="table mb-0 text-left">
										<thead>
											<tr>
												
												<th class="cell">Title</th>
												<th class="cell">Conference</th>
												<th class="cell">Date Submmited</th>
												<th class="cell">Score</th>
												<th class="cell">Status</th>
																				
												<th class="cell"></th>
											</tr>
										</thead>
										<tbody>
																	
									
								{% for casereport in casereports %}		
											
											<tr>
												
												<td class="cell">{{ casereport.title  }}</td>
												<td class="cell">{{ casereport.conference}}</td>
												<td class="cell"> {{ casereport.submitted_at }}</td>
												<td class="cell"> 
													{% for report in casereport.reviewer_reports.all %}
														<p>{{ report.totalscore }}</p>
													{% endfor %}
												</td>

												<td class="cell">
													{% if casereport.status == 'Pending' %}
													<span class="badge bg-secondary">
													{{  casereport.status }}
													</span>
													{% elif casereport.status == 'Accepted as Podium'  %}
													<span class="badge bg-success">
													{{  casereport.status }}
													{% elif casereport.status == 'Accepted as Poster'  %}
													<span class="badge bg-success">
													{{  casereport.status }}
													</span>
													{% elif casereport.status == 'Accepted'  %}
													<span class="badge bg-success">
													{{  casereport.status }}
													{% else %}
													<span class="badge bg-danger">
													{{  casereport.status }}
													</span>
													{% endif %}

											</td>
											
				<td class="cell"><a class="btn app-btn-secondary"
					 href="{% url 'casedetailedpage' casereport.id %}">View</a></td>
											</tr>
			  
						{% empty %}
							<p>No article is submitted yet</p>
							{% endfor %}
						
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						
				    </div><!--//app-card-body-->
				</div><!--//app-card-->

                			
        {% endblock  %}
		  {% include 'includes/footer.html' %}



